<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Infozika</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.0.0.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.0.0.css">
    <link type="text/css" rel="stylesheet" href="/static/css/timeline.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://emap.fgv.br/">
                <img src="/static/img/logo.png"/>
            </a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Infozika</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
    </div>
</div>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2><a href="#timeline-de-publicacoes">Timeline de Publicações</a></h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            
        </div>
        <div class="col-md-4">
            <h2><a href="#citacoes">Citações</a></h2>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>

        </div>
        <div class="col-md-4">
            <h2><a href="#serie-temporal">Série Temporal</a></h2>

            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>

        </div>
    </div>

    <hr>
    
    <div id="timeline-de-publicacoes" class="container">
        <div class="row">
            <div class="col-md-12 timeline-container">
                <div id="my-timeline"></div>
            </div>
        </div>
    </div>
    
    <div id="citacoes">
        <div class="circle-vis"></div>
    </div>

    <footer>
        <p>&copy; 2016 NAMD</p>
    </footer>
</div>
<!-- /container -->


<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-3.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/circle-vis.js"></script>


<script type="text/javascript" src="/static/js/storyjs-embed.js"></script>
<script>
        createTimeline = function(parentNode) {
            $('#my-timeline').html('');
            if (parentNode) {
                createStoryJS({
                    type:       'timeline',
                    width:      '1000',
                    height:     '600',
                    source:     '{{ url_for('json_timeline') }}',
                    lang:       '/static/js/locale/pt-br.js',
                    embed_id:   'my-timeline'
                });
            } else {
                createStoryJS({
                    type:       'timeline',
                    width:      '1000',
                    height:     '600',
                    source:     '{{ url_for('json_timeline') }}',
                    lang:       '/static/js/locale/pt-br.js',
                    embed_id:   'my-timeline'
                });
            }
        }
        $(document).ready(function() {
            createTimeline();
        });
</script>
</body>
</html>
